/*.iml
*/*/*.iml
*/*/*/*.iml
*/*/*/*/*.iml

out/

*/*/*.log


*/*/out/

*/*/target
*/*/.settings
*/*/.project
*/*/.idea/
*/*/.classpath
*/*/.clover
*/*/*.iws

*/*/*.ipr

*/*/*/.idea/
*/*/*/target


.idea/

webapps/*/stacktrace.log
webapps/*/db/*
webapps/*/logs/*


# Project exclude paths
/target/